:root {
  --background: #172a3a;
  --card-bg: #145967;

  --navbar: #9ecad1;
  --on-navbar: #38636b;
  --navbar-slider: #fdedb0;

  --text-brand: #58d1b4;
  --text-price: #fde586;
  --text-years: #5d99ac;
  --text-model: #c0eded;

  --misc-light: #c0eded; /*#c0eded;*/
  --misc-dark: #3c6966;
}

html,
body {
  background-color: var(--background);
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Belgrano", serif;
  transition-timing-function: ease-in;
  transition: 0.6s;
}

#item_grid {
  /* grid-column: 1/-1; */
  /* grid-row: 1/-2; */
  /* align-items: center; */
  /* min-width: 100%; */
  /* min-height: 100%; */

  /* macro details */
  box-sizing: outline-box;
  place-items: center;
  align-self: center;
  padding: 4px;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: repeat(
    auto-fill,
    minmax(clamp(200px, 250px, auto), 400px)
  );
}

h1,
span {
  font-size: clamp(16px, 5vw, 24px);
  margin: 0px;
}

.image-crop {
  flex-grow: 1;
  display: grid;
  place-items: center;
}
.image-crop > img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2.4px solid var(--misc-dark);
}

.card {
  padding: 16px;
  margin: 16px;
  /* Following are required to make all cards the same size */
  width: 88%;
  height: 88%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border: 1.6px solid var(--misc-dark);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2px 4px 0 4px;

  height: 48px;
  bottom: -2px;
  width: 100%;
  position: fixed;
  background-color: var(--navbar);
  min-width: 100%;
  overflow-x: auto;
}

button {
  display: inline-flex;
  align-items: center;
  background-color: var(--on-navbar);
  border: 2px solid;
  transition: 0.6s;
  font-size: 24px;
  border-radius: 16px;
  padding: 0 2px 4px 8px;
  margin-right: 4px;
}

button:hover {
  padding: 4px;
  margin-right: 8px;
  font-size: 24px;
}

.age {
  margin-right: 8px;
  color: var(--text-years);
}
.ageSorted,
.age:hover {
  background-color: var(--text-years);
  color: var(--on-navbar);
}

.price {
  margin-right: 8px;
  color: var(--text-price);
}
.priceSorted,
.price:hover {
  background-color: var(--text-price);
  color: var(--on-navbar);
  font-size: 24px;
}

#tags {
  flex-grow: 1;
}

.dropup {
  border-radius: 8px;
  padding: 0 16px 0 4px;
  font-size: 32px;
  align-self: start;
}
.dropup::before {
  font-family: "Material Icons";
  content: "\e5c7";
}

.dropup:hover {
  color: var(--on-navbar);
  padding: 4px 16px 1px 4px;
  margin-top: -2px;
  padding-right: 16px;
}
.brand {
  color: var(--text-brand);
}
.brand:hover {
  margin-left: -4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--text-brand);
}

.build {
  color: var(--text-model);
  margin-left: 4px;
}
.build:hover {
  background-color: var(--text-model);
  margin-left: 2px;
}

footer {
  display: grid;
  place-items: center;
}

footer > h3 {
  color: var(--misc-light);
  text-align: center;
  margin-bottom: 0;
}

footer > img {
  max-width: 48px;
  margin-bottom: 43px;
  padding: 5px;
}
