:root {
  --background: #172a3a;
  --card-bg: #145967;

  --navbar: #9ecad1;
  --on-navbar: #38636b;
  --navbar-slider: #fdedb0;

  --text-brand: #58d1b4;
  --text-price: #fde586;
  --text-years: #5d99ac;
  --text-model: #c0eded;

  --misc-light: #c0eded; /*#c0eded;*/
  --misc-dark: #3c6966;
}

* {
}

html,
body {
  background-color: var(--background);
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Belgrano", serif;
}

.main_grid {
  /* grid-template-rows: auto 40vh 9vh; */
  /* grid-template-columns: auto 10vw 10vw; */
  /* grid-auto-flow: row dense; */
  display: grid;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
}

#item_grid {
  /* grid-column: 1/-1; */
  /* grid-row: 1/-2; */
  /* align-items: center; */
  /* min-width: 100%; */
  /* min-height: 100%; */

  /* macro details */
  box-sizing: outline-box;
  place-items: center;
  align-self: center;
  padding: 4px;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: repeat(
    auto-fill,
    minmax(clamp(200px, 250px, auto), 400px)
  );
}

h1,
span {
  font-size: clamp(16px, 5vw, 24px);
  margin: 0px;
}

.image-crop {
  flex-grow: 1;
  display: grid;
  place-items: center;
}
img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2.4px solid var(--misc-dark);
}

.card {
  padding: 16px;
  margin: 16px;
  /* Following are required to make all cards the same size */
  width: 88%;
  height: 88%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border: 1.6px solid var(--misc-dark);
}

.navbar {
  box-shadow: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;

  height: clamp(24px, 5vw, 48px);
  bottom: 0px;
  width: 100%;
  position: fixed;
  background-color: var(--navbar);
}

.navbar > * {
  margin: 5px;
  height: clamp(24px, 5vw, 48px);
}
